{% macro javascript() %}
<script src="{{ get_url(path="js/settings.js") | safe }}" defer></script>
<script src="{{ get_url(path="js/main.js") | safe }}" defer></script>
{% if config.build_search_index %}
  <script src="{{ get_url(path="plugins/elasticlunr.js") | safe }}" defer charset="utf-8"></script>
  <script src="{{ get_url(path="plugins/lunr.js") | safe }}" defer charset="utf-8"></script>
  <script src="{{ get_url(path="plugins/lunr.stemmer.support.js") | safe }}" defer charset="utf-8"></script>
  <script src="{{ get_url(path="plugins/lunr.ko.js") | safe }}" defer charset="utf-8"></script>
  <script src="{{ get_url(path="search_index." ~ lang ~ ".js") | safe }}" defer></script>
  <script src="{{ get_url(path="js/search.js") | safe }}" defer></script>
{% endif %}
{% endmacro %}
